{% extends 'myapp/layout.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}

{% include 'myapp/header.html' %}
{% load static %}

<main>
    <h2>About Page</h2>
    <p>About something</p>

    <div class="card-group">
      <div class="card">
        <img src="{% static 'myapp/img/photo.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Горы</h5>
          <p class="card-text">Мы можем помолчать, Мы можем петь. Стоять или бежать, Но все равно гореть. Гори, но не сжигай, Иначе скучно жить... Гори, но не сжигай Гори, чтобы светить...</p>
          <p class="card-text"><small class="text-muted">Lumen - Гореть</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'myapp/img/photo.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Еще горы</h5>
          <p class="card-text">Город стреляет в ночь дробью огней Но ночь сильней, её власть велика А тем, кто ложится спать спокойного сна Спокойная ночь</p>
          <p class="card-text"><small class="text-muted">Кино - Спокойная ночь</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'myapp/img/photo.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">И еще горы</h5>
          <p class="card-text">В заросшем парке Стoит старинный дом Забиты окна И мрак царит извечно в нём Сказать я пытался Чудовищ нет на земле Но тут же раздался Ужасный голос во мгле Голос во мгле</p>
          <p class="card-text"><small class="text-muted">КиШ - Проклятый старый дом</small></p>
        </div>
      </div>
    </div>
</main>
<footer>
    <p>&copy; 2024 @Sb_14</p>
</footer>

{% endblock %}