{% extends 'myapp/layout.html' %}
{% load static %}
{% block title %}
Event Detail
{% endblock %}

{% block body %}

{% include 'myapp/header.html' %}
<div class="container mt-5">
    <h1 class="mb-4">{{ event.name }}</h1>
    <p><strong>Описание:</strong> {{ event.description }}</p>
    <p><strong>Дата:</strong> {{ event.date }}</p>
    <p><strong>Время:</strong> {{ event.time }}</p>
    <p><strong>Аттракцион:</strong> {{ event.attraction.name }}</p>
    <p><strong>Создано:</strong> {{ event.created_at }}</p>
    <p><strong>Активно:</strong> {{ event.is_active }}</p>
    <a href="{% url 'event_list' %}" class="btn btn-primary mt-4">Назад</a>
</div>
{% endblock %}
