<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Hi, I'm Sabina</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'info' %}">Info</a>
        </nav>
    </header>
    <main>
        <h2>About Page</h2>
        <p>About something</p>
    </main>
    <footer>
        <p>&copy; 2024 @Sb_14</p>
    </footer>
</body>
</html>
